html {
  // we reduce the font-size, so 1rem matches 10px
  font-size: 55.5%;
  // font-size: 62.5%;
  // line-height: normal; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}